<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Profile and my applications</title>
    <%= stylesheet_link_tag "myhp", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>

  <body>
    <header>
      <div class="container">
      <h1>You can see, "Kaz"</h1>
      </div>
    </header>
    <main>
        <div class="container">
          <div class="link1">
              <div class="link1-1">
              <a href="https://www.facebook.com/kazuhisa.etoh" title="Facebook" class="link profile">
          <img src="<%= asset_path "facebook1.png" %>" height="180" width="180">
              </a>
              </div>
              <div class="link1-2">
              <a href="https://github.com/kaz-etoh" title="github" class="link profile">
          <img src="<%= asset_path "github1.png" %>" height="180" width="180"> 
            </a>
            </div>
            <div class="link1-3">
              <a href="https://jp.linkedin.com/in/kazuhisa-etoh-65ab88a7" title="Linkedin" class="link profile">
              <img src="<%= asset_path "linkedin.png" %>" height="180" width="180"> 
            </a>
            </div>
            <div class="link1-4">
              <a href="http://etoh1220.hatenablog.com" title="Blog" class="link profile">
              <img src="<%= asset_path "blog2.png" %>" height="180" width="180"> 
              </a>
              </div>

          <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
            <div class="page-header">
            <h2><b>Inquiry</b></h2>
            </div>

            <% if @inquiry.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <strong>There input is not collect.</strong>
                <ul>
                  <% @inquiry.errors.each do |attr, msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <table class="table">
            <tr>
            <th>Name
                <span class="text-danger">
                  <font color="red">
                    <span style="font-size:70%;">
                      (Mandantry)
                    </span>
                  </font>
                </span>
            </th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th>e-Mail address
                <span class="text-danger">
                  <font color="red">
                    <span style="font-size:70%;">
                    (Mandantry)
                    </span>
                  </font>
                </span>
              </th>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <th>Contents</th>
              <td><%= f.text_area :message %></td>
            </tr>
          </table>
          <%= f.submit 'Confirm', class: 'btn btn-primary' %>
          <% end %>
          <br>
          </div>
        </div>

    </main>

 <!--    <footer>
      <div class="container">
      Copyright 2015, Kazuhisa Etoh
      </div>
    </footer> -->

  </body>
</html>
